{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css\ex1.css' %}"> -->
<link rel="stylesheet" href="{% static 'css\style.css' %}">

{% endblock %}

{% block body %}
<main>
  <section class="container">
    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'assests\ex5.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <h1>Make a plan</h1>
          <p>When you feel down, it can be hard to motivate yourself to go out into the world or take a risk. Setting aside more time to do small things you enjoy might help you feel calmer.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'assests\ex5.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <p>Think of 3 simple activities you like to do—like listening to a great playlist, reading or hanging out with your pet.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'assests\ex5.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <p>Once you come up with 3 activities, make a plan for when to do them, ideally within the next week. If you’re having trouble feeling motivated to stick to your plan, try finding someone to do it with.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'assests\ex5.png' %}" alt="" style="width: 100%; height: auto;">
        <div class="caption">
          <p>At the end of the week, check in with yourself and see how many of the activities you’ve done. Even if you’ve only done one of them, be proud of yourself and think about what else you might be able to accomplish. If you haven’t done any, that’s okay too—you can always try again next week.</p>
        </div>
      </div>
    </div>
    
    <div class="pagination">
      <div class="buttons">
        <br>
        <a href="{% url 'ex4' %}"><button id="pre"
        class="btn" style="font-size: 2rem;">Previous</button></a>
        <a href="{% url 'ex6' %}"><button  id="nex" class="btn" style="font-size: 2rem;">Next</button></a>
      </div>
    </div>
  </section>
</main>

<script src="{% static 'js\app.js' %}"></script>

{% endblock %}