{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css\ex1.css' %}"> -->
<link rel="stylesheet" href="{% static 'css\style.css' %}">

{% endblock %}

{% block body %}
<main>
  <section class="container">

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex6.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <h1>Take a breath</h1>
          <p>Deep breathing can help powerful emotions feel a little less intense, and even help some people resist the urge to speak to themselves negatively. By fully expanding your lungs and slowing things down, you activate parts of your brain and nervous system that calm your body and mind.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex6.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <p>Start by taking a slow and steady deep breath in through your nose.<br><br>
This should take about 3-4 seconds. You can count the seconds if it helps you focus.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex6.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <p>Feel your lungs expand until they’re completely filled with air. Hold your breath there for 3 more seconds, or as long as you're able to.<br><br>
            Then exhale slowly and steadily through your mouth. The full exhale should take twice as long as the inhale, so about 6 seconds.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex6.png' %}" alt="" style="width: 100%; height: auto;">
        <div class="caption">
          <p>Put down your phone and repeat your inhale and exhale at least 5 times, with your eyes closed.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
        <div class="thumbnail">
          <img src="{% static 'C:\SDP\SDPApp\static\assests\ex6.png' %}" alt="" style="width: 100%; height: auto;">
          <div class="caption">
            <p>How do you feel? Deep breathing refocuses your attention on just one thing, and this can help distract from negative urges or thoughts. Plus, it also helps with everyday anxiety and stress.<br><br>
                Try using breathing to check in with yourself at various points during the day, even when you don’t feel depressed or overwhelmed. See how you feel—physically and mentally—before your deep breathing, and after.
                </p>
          </div>
        </div>
      </div>
      
    <div class="pagination">
      <div class="buttons">
        <br>
        <button id="pre"
        class="btn" style="font-size: 2rem;">Previous</button>
        <button  id="nex" class="btn" style="font-size: 2rem;">Next</button>
      </div>
    </div>
  </section>
</main>

<script src="{% static 'js\app.js' %}"></script>

{% endblock %}