{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css\ex1.css' %}"> -->
<link rel="stylesheet" href="{% static 'css\style.css' %}">

{% endblock %}

{% block body %}
<main>
  <section class="container">

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex8.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <h1>Share your appreciation</h1>
          <p>Life gets busy, and we can sometimes forget to thank people who’ve helped us. Taking a moment to pause and share your gratitude can help you feel more connected—both to yourself and to other people.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex8.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <p>Think of someone who you’re grateful to have in your life. It can be someone you’ve known for a long time, or someone you just met.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex8.png' %}" alt="" style="width: 100%; height: auto;">
        <div  class="caption">
          <p>Bring that person to mind, and think about why you’re grateful for them.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex8.png' %}" alt="" style="width: 100%; height: auto;">
        <div class="caption">
          <p>Write to the person, saying why you’re grateful to have them in your life. It can be just a sentence or two, but make sure to let them know what they mean to you, and why knowing them makes you feel good.</p>
        </div>
      </div>
    </div>

    <div id="box-search">
      <div class="thumbnail">
        <img src="{% static 'C:\SDP\SDPApp\static\assests\ex8.png' %}" alt="" style="width: 100%; height: auto;">
        <div class="caption">
          <p>If you feel like it, you can share your gratitude with the person. You can send them all or parts of your note, or meet up with them in person to share.
            .</p>
        </div>
      </div>
    </div>

    <div class="pagination">
      <div class="buttons">
        <br>
        <a href="{% url 'ex7' %}"><button id="pre"
        class="btn" style="font-size: 2rem;">Previous</button></a>
        <a href="{% url 'ex9' %}"><button  id="nex" class="btn" style="font-size: 2rem;">Next</button></a>
      </div>
    </div>
    
  </section>
</main>

<script src="{% static 'js\app.js' %}"></script>

{% endblock %}