{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\feeds.css' %}">
{% endblock %}

{% block body %}

<main>
    <section class="container">
        <div class="learning-container">
            <div class="learning-card">
                <div class="learning-circle">
                    <h1>Title of the course</h1>
                </div>
                <div class="learning-content">
                    <p>Course description about what where and how things are in the course</p>
                    <p><strong>Course type:</strong> Free</p>
                    <p><strong>Certification:</strong> Yes/No</p>
                    <p><strong>Validity:</strong> date or lifetime</p>
                    <div class="learning-bottom-part">
                        <a class="btn" href="#">Like</a>
                        <a class="btn"href="#">Visit course</a>
                    </div>
                </div>
            </div>
            <div class="learning-card">
                <div class="learning-circle">
                    <h1>Title of the course</h1>
                </div>
                <div class="learning-content">
                    <p>Course description about what where and how things are in the course</p>
                    <p><strong>Course type:</strong> Free</p>
                    <p><strong>Certification:</strong> Yes/No</p>
                    <p><strong>Validity:</strong> date or lifetime</p>
                    <div class="learning-bottom-part">
                        <a href="#">Like</a>
                        <a href="#">Visit course</a>
                    </div>
                </div>
            </div>
            <div class="learning-card">
                <div class="learning-circle">
                    <h1>Title of the course</h1>
                </div>
                <div class="learning-content">
                    <p>Course description about what where and how things are in the course</p>
                    <p><strong>Course type:</strong> Free</p>
                    <p><strong>Certification:</strong> Yes/No</p>
                    <p><strong>Validity:</strong> date or lifetime</p>
                    <div class="learning-bottom-part">
                        <a href="#">Like</a>
                        <a href="#">Visit course</a>
                    </div>
                </div>
            </div>
            <div class="learning-card">
                <div class="learning-circle">
                    <h1>Title of the course</h1>
                </div>
                <div class="learning-content">
                    <p>Course description about what where and how things are in the course</p>
                    <p><strong>Course type:</strong> Free</p>
                    <p><strong>Certification:</strong> Yes/No</p>
                    <p><strong>Validity:</strong> date or lifetime</p>
                    <div class="learning-bottom-part">
                        <a href="#">Like</a>
                        <a href="#">Visit course</a>
                    </div>
                </div>
            </div>
            <div class="learning-card">
                <div class="learning-circle">
                    <h1>Title of the course</h1>
                </div>
                <div class="learning-content">
                    <p>Course description about what where and how things are in the course</p>
                    <p><strong>Course type:</strong> Free</p>
                    <p><strong>Certification:</strong> Yes/No</p>
                    <p><strong>Validity:</strong> date or lifetime</p>
                    <div class="learning-bottom-part">
                        <a href="#">Like</a>
                        <a href="#">Visit course</a>
                    </div>
                </div>
            </div>
            <div class="learning-card">
                <div class="learning-circle">
                    <h1>Title of the course</h1>
                </div>
                <div class="learning-content">
                    <p>Course description about what where and how things are in the course</p>
                    <p><strong>Course type:</strong> Free</p>
                    <p><strong>Certification:</strong> Yes/No</p>
                    <p><strong>Validity:</strong> date or lifetime</p>
                    <div class="learning-bottom-part">
                        <a href="#">Like</a>
                        <a href="#">Visit course</a>
                    </div>
                </div>
            </div>
            <div class="learning-card">
                <div class="learning-circle">
                    <h1>Title of the course</h1>
                </div>
                <div class="learning-content">
                    <p>Course description about what where and how things are in the course</p>
                    <p><strong>Course type:</strong> Free</p>
                    <p><strong>Certification:</strong> Yes/No</p>
                    <p><strong>Validity:</strong> date or lifetime</p>
                    <div class="learning-bottom-part">
                        <a href="#">Like</a>
                        <a href="#">Visit course</a>
                    </div>
                </div>
            </div>
            <div class="learning-card">
                <div class="learning-circle">
                    <h1>Title of the course</h1>
                </div>
                <div class="learning-content">
                    <p>Course description about what where and how things are in the course</p>
                    <p><strong>Course type:</strong> Free</p>
                    <p><strong>Certification:</strong> Yes/No</p>
                    <p><strong>Validity:</strong> date or lifetime</p>
                    <div class="learning-bottom-part">
                        <a href="#">Like</a>
                        <a href="#">Visit course</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="feed.js"></script>
{% endblock %}