<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>SOUL SPACE</title>
</head>

<body style="background-color:#E3EFF7;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Soulspace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/feed">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/take_test">Test</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--nav bar-->

    <!--Carousel-->
    <div class="container-fluid my-4">
        <div id="carouselExampleCaptions" class="carousel carousel-fade slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://source.unsplash.com/1100x500/?positive" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <!-- <button type="button" class="btn btn-secondary btn-lg">Start by giving a Test</button> -->
                        <a class="btn btn-secondary" href="/take_test" role="button">Start by taking a Test</a>
                    </div>
                </div>
            </div>
        </div>

        </button>
    </div>
    </div>

    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto" align="center">
            <p><i><b>
                        <font color="black" face="Geneva" size="+3">"Heart is not a basket for keeping tension &
                            sadness.
                            It is a golden box for keeping rose of happiness and sweet memories"</font>
                    </b></i></p>
            <p><i>
                    <font size="+1"> ~Late APJ ABDUL KALAM.</font>
                </i></p>
        </div>
    </div>
    <br>

    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-5 mx-auto" align="left">
            <h1 class="fw-dark" align="left">
                <font face="TimesNewRoman">What is Depression?</font>
            </h1>
            <p class="lead text-dark">
                <font face="Posterama">Depression is a state of low mood and aversion to activity. It can affect a
                    person's thoughts, behavior, motivation, feelings, and sense of well-being.
                    It can either be short term or long term.</font>
            </p>
            <br>
            <section>
                <h2 class="fw-dark" align="left">
                    <font face="TimesNewRoman">Depression Symptoms:</font>
                </h2>
                <p class="lead text-dark">
                    <font face="Posterama">According to the a manual doctors use to diagnose mental disorders, when you
                        have five or more of these symptoms for at least 2 weeks:
                    </font>
                </p>
                <ul font face="Posterama">
                    <li>Your mood is depressed for most of the day, especially in the morning.</li>
                    <li>You feel or have a lack of energy almost every day.</li>
                    <li>You feel worthless or guilty almost every day.</li>
                    <li>You feel hopeless or pessimistic.</li>
                    <li>You have a hard time focusing, remembering details, and making decisions.</li>
                    <li>You can’t sleep, or you too much, almost every day.</li>
                    <li>You have almost no interest or pleasure in many activities nearly every day.</li>
                    </font>
                </ul>
            </section>

            <h2 class="fw-dark" align="left">
                <font face="TimesNewRoman">How is Depression Treated?</font>
            </h2>
            <p class="lead text-dark">
                <font face="Posterama"> When it comes to treatment options, mental health professionals often resort to
                    medication and/or psychotherapy for depression.
                    In fact, studies suggest that a mix of psychiatric interventions and therapy focused on depression,
                    provides the best possible outcome.
                    After this depression quiz, don't be afraid to reach out for the treatment and help you need for
                    depression.</font>
            </p>
        </div>
    </div>
    </div>


    <div class="container px-4 py-5" id="custom-cards">
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>

</html>