{% extends 'base.html' %}

{% load static %}
{% block head %}
<title>Soul Space</title>
<link rel="stylesheet" href="{% static 'css\style.css' %}">
{% endblock %}

{% block body %}
<main>
  <section class="container">
    <div class="Head">
      <img src="{% static 'assests\img-6.png' %}" alt="Snow" style="width:100%; height: auto;">
    </div>

  </section>
  <div class="header-block">
    <div class="content">
      <h1> What is Depression</h1>
      <p>Depression is a state of low mood and aversion to activity. It can affect a person's thoughts, behavior,
        motivation, feelings, and sense of well-being. It can either be short term or long term.Depression is a common
        and serious medical illness that negatively affects how you feel, the way you think and how you act.
        Fortunately, it is also treatable. Depression causes feelings of sadness and/or a loss of interest in activities
        you once enjoyed. It can lead to a variety of emotional and physical problems and can decrease your ability to
        function at work and at home. </p>
      <br>

    </div>
  </div>
  <!-- photo gallery -->
  <!-- Photo Grid -->
  <div class="row">
    <div class="column">
      <img src="{% static 'assests\img-7.jpg' %}" style="width:100%">

    </div>
    <div class="column">
      <img src="{% static 'assests\img-7.jpg' %}" style="width:100%">

    </div>
    <div class="column">
      <img src="{% static 'assests\img-7.jpg' %}" style="width:100%">

    </div>
    <div class="column">
      <img src="{% static 'assests\img-7.jpg' %}" style="width:100%">
    </div>
  </div>
  <hr class="rounded">
  <div class="div2">
    <h1 style="text-align: center; margin-bottom: 2%;">Symptoms</h1>
    <ul class="a">
      <li>Feeling sad or having a depressed mood</li>
      <li>Loss of interest or pleasure in activities once enjoyed</li>
      <li>Changes in appetite — weight loss or gain unrelated to dieting</li>
      <li>Trouble sleeping or sleeping too much</li>
      <li>Loss of energy or increased fatigue</li>
      <li>Increase in purposeless physical activity (e.g., inability to sit still, pacing, handwringing) or slowed
        movements or speech (these actions must be severe enough to be observable by others)</li>
      <li>Feeling worthless or guilty</li>
      <li>Difficulty thinking, concentrating or making decisions</li>
      <li>Thoughts of death or suicide</li>
    </ul>
  </div>
  <hr class="rounded">

  <div class="header-block">
    <div class="content">
      <h1> Do you find same symptoms with you???</h1><br>
      <p>So you are on right place click on below button and find a magical solution of the problem </p>
      <br>
      <a href="exercise"><button class="btn" style="font-size: 2rem;" >Magical Solution</button></a>

    </div>
  </div>
</main>
<script src="{% static 'js\app.js' %}"></script>
{% endblock %}